@import url(https://fonts.googleapis.com/css?family=Bangers&display=swap);

body{
    font-family: Bangers, sans-serif;
    background: linear-gradient(90deg, #a600ff 0%, #000000 100%);
}

p{
    color: white;
}

.nav-link{
    color: blue;
}

.navbar-nav .nav-link.active {
    color: brown;
}

.navbar-brand>img{
    width: 35px;
}

.navbar-toggler {
    background-color: gray;
}

.card{
    box-shadow: -5px 5px 10px 1px #000000;

}

.sidebar, .btn-outline-primary{
    color: violet;
    
    background: linear-gradient(90deg, #a600ff 0%, #000000 100%);
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text, .footer-text{
    color: white;
    margin: auto auto;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@media (max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}

